@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    overflow-x: hidden;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    top: 30px;
}

#game {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 40px;
}

.fullScreen {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 30px;
    left: 30px;
    border: none;
    background-color: transparent;
    background-image: url("../assets/imgs/full_screen_icon.png");
    background-size: cover;
    filter: invert(1);
}

#board {
    position: relative;

    width: 300px;
    height: 300px;

    background-image: url("../assets/svgs/board.svg");
    background-size: cover;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.squares {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.players {
    width: 250px;
    height: 250px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

    box-shadow: 0px 0px 15px 0px #00000021;
}

.players h2 {
    position: absolute;
    transform: translateY(-90px);
}

.active {
    box-shadow: 0px 0px 15px 0px #1d995f86;
}

.piece-x {
    background-image: url("../assets/svgs/x.svg");
    background-size: cover;
}

.piece-o {
    background-image: url("../assets/svgs/o.svg");
    background-size: cover;
}

.pieces {
    width: 50px;
    height: 50px;
}

.pieces[draggable="true"] {
    cursor: grab;
}

.pieces[draggable="false"] {
    cursor: no-drop;
}

.pieces:active[draggable="true"] {
    cursor: grabbing;
}

#info {
    position: absolute;
    top: 30px;
    right: 30px;
    color: white;
}

#scores {
    position: absolute;
    top: 80%;
}

.show-players {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn-selected {
    margin: 10px;
    padding: 20px;

    border-radius: 5px;

    background-color: #2d2d2d;
}

.btn-selected:hover {
    cursor: pointer;
}

.selected {
    margin: 7px;
    border: 3px black solid;
}

.line {
    position: absolute;

    width: 10px;
    height: 290px;

    border-radius: 5px;

    background-color: rgba(12, 57, 255, 0.404);

    z-index: 1;
}

.line-00 {
    top: -95px;
    left: 145px;

    transform: rotateZ(90deg);
}

.line-01 {
    top: calc(-95px + 100px);
    left: 145px;

    transform: rotateZ(90deg);
}

.line-02 {
    top: calc(-95px + 200px);
    left: 145px;

    transform: rotateZ(90deg);
}

.line-10 {
    top: 5px;
    left: 45px;
}

.line-11 {
    top: 5px;
    left: calc(45px + 100px);
}

.line-12 {
    top: 5px;
    left: calc(45px + 200px);
}

.line-20 {
    top: -35px;
    left: 145px;

    height: 370px;

    transform: rotate(-45deg);
}

.line-21 {
    top: -35px;
    left: 145px;

    height: 370px;

    transform: rotate(45deg);
}

.settings-modal-body {
    padding: 30px;
}

.player {
    display: flex;
    justify-content: space-around;
}

.edit-name {
    width: 40%;
    height: 100%;
}

.edit-name input {
    outline: none;
}

.edit-name input:focus {
    border: 2px solid #202020;
}

#name-x {
    margin-bottom: 10px;
}

.number-wins {
    margin: 20px 0;
}

#btn-clear {
    position: absolute;
    bottom: 12px;
    left: 12px;
}

#btn-scores {
    display: none;
}